{% extends 'base.html' %}

{% block title %}Dashboard Home{% endblock %}

{% block nav %}
<nav>
  <ul>
    <li><a href="{{ url_for('dashboard.index') }}">Accueil</a></li>
    <li><a href="{{ url_for('dashboard.history') }}">Historique</a></li>
    <li><a href="{{ url_for('dashboard.execute') }}">Exécuter une commande</a></li>
    <li><a href="{{ url_for('dashboard.upload_file') }}">Upload de fichier</a></li>
    <li><a href="{{ url_for('dashboard.system_info') }}">Infos Système</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
  <h2>Command History</h2>
  {% if commands %}
    <ul>
      {% for command in commands %}
        <li>
          <strong>{{ command['timestamp'] }}:</strong> {{ command['command'] }}<br>
          <em>Result:</em><pre>{{ command['result'] }}</pre>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No commands found.</p>
  {% endif %}
{% endblock %}
