<!doctype html>
<title>{% block title %}Upload de fichier - Flaskr{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Flaskr</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}
        <h2>Upload de fichier</h2>
        {% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('dashboard.upload_file') }}">
        <label for="file">Sélectionnez un fichier à uploader :</label><br>
        <input type="file" id="file" name="file" required><br><br>
        <button type="submit">Uploader</button>
    </form>
    {% endblock %}
</section>
